body, html {
  height: 100%;
  width: 100%;
}
.container {
  background-image: url('/img/blla.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;
}

h4 {
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;
}